$NM_highlight:#FFFEF5;
$NM_shadow: #D3D2CB;
$blur: 4px;

@mixin NM_convex ( $highlight:-2px,$shadow:4px, $blur:$blur ){
    box-shadow:
        $highlight $highlight $highlight * -2 $NM_highlight,
        $highlight * -1 $highlight * -1 $highlight * -2 $NM_highlight inset,
        $shadow $shadow $shadow * 2 $NM_shadow;
}
@mixin NM_convex_anim ( $highlight:-2px,$shadow:4px ){
    box-shadow:
        $highlight $highlight $blur $NM_highlight,
        $highlight * -1 $highlight * -1 $blur $NM_highlight inset,
        $shadow $shadow $blur $NM_shadow,
        6px 6px 12px transparent inset;
}

@mixin NM_dent ( $shadow:4px, $highlight:-4px, $color:$NM_shadow ){
    box-shadow:
        $highlight $highlight $blur $NM_highlight inset,
        $shadow $shadow $blur $color inset,
        $shadow * -1 $shadow * -1 $shadow * 1 $NM_highlight inset;
}
@mixin NM_dent_anim ( $shadow:4px, $highlight:-4px, $color:$NM_shadow ){
    box-shadow:
        $highlight $highlight $blur $NM_highlight inset,
        $shadow $shadow $blur $color inset,
        -6px -6px -6px * -2 transparent,
        3px 3px 3px * 2 transparent;
}