.c-vertical-inner{
    background-color: #F4F3EA;
    min-height:calc((1300 / 1686) * 100svh);
    max-height:calc(100svh - 60px - 60px);
    margin: 8px 8px 8px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: pre-wrap;

    p{
  	  text-indent:1em;
    }
    @media screen and (min-width: 768px) {
        max-height:calc(100svh - 60px - 60px - 3rem);
        margin: 2rem .5rem 1rem 0; 
        overflow-x: visible;
        scrollbar-color: #F4F3EA; //firefox

    }
  }

.c-vertical{
    vertical-align: text-top;
    writing-mode: vertical-rl;
    padding: 0 0 12px 4rem;
    line-height:calc(52 / 32);
    letter-spacing: 0.075em;
    height:100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    * {
        // display: inline-block;
    }

    @media screen and (min-width: 768px) {
        &::-webkit-scrollbar{
            color: #F4F3EA;
            display: none; //safari&Chrome
        }
    }

}

.c-vertical-input {
    height:calc((845 / 1686) * 100vh);
}

.c-vertical-button {
    writing-mode: initial;
    transform: rotate(90deg);
}