.c-vertical-inner{
    background-color: #F4F3EA;
    min-height:calc((1300 / 1686) * 100svh);
    max-height:calc((1450 / 1686) * 100svh);
    margin: 8px 8px 0 0;
    overflow-y: hidden;
    white-space: pre-wrap;
    overflow-x: scroll;

    p{
  	  text-indent:1em;
    }
  }

.c-vertical{
    vertical-align: text-top;
    writing-mode: vertical-rl;
    line-height:calc(52 / 32);
    letter-spacing: 0.075em;
    max-height:100%;
    width: 100%;
    overflow-x: auto;

    * {
        // display: inline-block;
    }
}

.c-vertical-input {
    height:calc((845 / 1686) * 100vh);
}

.c-vertical-button {
    writing-mode: initial;
    transform: rotate(90deg);
}