@charset "UTF-8";

$base-color: #F4F3EA;

/*全体のスタイル*/
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    width:100vw;
    margin:0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color:#121212;
    background-color:$base-color;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", '游明朝', "YuMincho", "Yu Mincho", "Noto Serif JP", serif;
    
}
ul {
  list-style: none;
}
a{
  color:black;
}
h1{
}
h2{
}
a{
}
a:visited{
}