@charset "UTF-8";

/*全体のスタイル*/
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    width:100vw;
    margin:0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color:#121212;
    background-color:#f7f6eb;
}
ul {
  list-style: none;
}
a{
  color:black;
}
h1{
}
h2{
}
a{
}
a:visited{
}